[ req ]
prompt                 = no
distinguished_name     = req_distinguished_name
req_extensions         = v3_req


[ req_distinguished_name ]
0.DC                   = com
1.DC                   = example
UID                    = user1

[ v3_req ]
basicConstraints       = CA:false
keyUsage               = digitalSignature
extendedKeyUsage       = clientAuth
subjectAltName         = email:user1@example.com
